body{
	margin:0;
	padding: 0;
	cursor:default;
	background:#fff;
	letter-spacing: 0em;
}
.logo{
	font-size:85px;
	font-weight: bold;
	top:40%;
	left:60%;
	font-style: tohoma;
	letter-spacing: -0.1em;
}
.search-box{
	position: absolute;
	background:#ccc;
	height:40px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	padding:0px;
	margin: 0px;
}
.search-box:hover>.search-btn{
	background: #ccc;
	color:#fff;
}
.search-txt{
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0;
	color:#000;
	font-size:16px;
	transition:0.4s;
	line-height:40px;
	width:450px;
	font-weight:normal;
}
.search-btn{
	color:#ccc;
	float:right;
	width:40px;
	height:40px;
	border-radius:50%;
	background:#ccc;
	display:flex;
	align-items:center;
	transition: 0.2s;
	color:white;
	cursor:pointer;
	justify-content: center;
}
.search-btn > i{
	font-size:30px;
}
#signup{
    text-align: right;
    background-color:#fff;
    padding:0px;
    margin:35px 10px;
    padding:35px 10px;
}
#signup button{
	border: none;
	outline: none;
	height: 20px;
	background: #ccc;
	color:#fff;
	font-size:18px;
	font-family: sans-serif;
	border-radius: 20px;
}
#signup a{
	text-decoration: none;
	font-family:sans-serif;
	color:#000;
}
#signup a:hover{
	color:green;
}
.Team ul{
	list-style:none;
	background:white;
	text-align:center;
	padding:20px;
	margin:300px;
}
.Team li{
	display:inline-block;
}
.Team a{
	text-decoration:none;
	color:black;
	width:80px;
	display:inline;
	padding:12px;
	font-size:10px;
	font-family:Helvetica;
	transition:0.4s;
	font-weight: normal;
}
.Team a:hover{
	background:#ccc;
	transition:0.4s;
}
/*
#main-footer{
    text-align:left;
    font-size:18px;
}*/